.contenedorPreguntas {
  width: 850px;
}
.preguntaFrecuente {
  padding-bottom: 20px;
}
.preguntaFrecuente p {
  padding: 20px 0px;
  width: 90%;
  font-size: 2.4rem;
  color: #333;
  margin: 0px;
  font-family: "Archivo-Regular", sans-serif;
}
.pregunta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.tituloPregunta {
  color: #d6101d;
  margin: 0px;
  font-size: 2rem;
  font-family: "Archivo-Bold", sans-serif;
}

@media screen and (max-width: 900px) {
  .contenedorPreguntas {
    width: 100%;
  }
  .preguntaFrecuente p {
    font-size: 1.8rem;
  }
  .tituloPregunta {
    font-size: 1.8rem;
  }
  @media screen and (max-width: 500px) {
    .preguntaFrecuente p{
      font-size: 1.2rem;
      
      
    }
  }
}
