.formContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100%;
  margin-top: 97px;
  animation: slideIn 0.5s ease forwards;
  background-color: #fff9e8;
}

.close {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #e2dcc8;
  display: flex;
  justify-content: flex-end;
}
.close button {
  background-color: black;
  color: white;
  border: none;
  width: 180px;
  font-size: 1rem;
  font-family: "Archivo-Bold", sans-serif;
  cursor: pointer;
}
.close button strong {
  font-family: "Archivo-Black", sans-serif;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 84%;
}
.formContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  padding: 25px 80px;
  border-right: 2px solid #e2dcc8;
}
form .submit {
  width: 30%;
  height: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
form .submit .foto {
  height: 400px;
  width: 100%;
}
form .submit .foto img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
form .submit .contacto {
  display: flex;
  flex-direction: column;

  height: fit-content;
  width: 70%;
}
form .submit .contacto h3 {
  margin: 0px;
  font-family: "Archivo-Regular", sans-serif;
  white-space: nowrap;
}
form .submit .contacto h3 strong {
  color: red;
}
.buttonEnviar {
  margin-top: 40px;
  width: 70%;
}
.buttonEnviar button {
  height: 40px;
  width: 125px;
  background-color: red;
  border: none;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  cursor: pointer;
}
form label {
  font-size: 2rem;
  font-family: "Archivo-Regular", sans-serif;
}
.campo {
  height: fit-content;
  height: 50px;
}
.campo h2 {
  margin: 0px;
}
.nombre {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.nombreContent {
  display: flex;
  flex-grow: 1;
  align-items: center;

  padding-right: 20px;
}

.nombre label {
  width: 305px;
  white-space: nowrap;
}

.nombre input {
  flex: 1; /* Esto permite que el input se achique */
  height: 40px;
  border: none;
  border-bottom: 2px solid #e2dcc8;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: "Archivo-SemiBold", sans-serif;
}
input::placeholder,
textarea::placeholder {
  color: #e2dcc8;
}
.profesion {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.profesionContent {
  display: flex;
  flex-grow: 1;
  align-items: center;

  padding-right: 20px;
}

.profesion label {
  width: 105px;
  white-space: nowrap;
}

.profesion input {
  flex: 1; /* Esto permite que el input se achique */
  height: 40px;
  border: none;
  border-bottom: 2px solid #e2dcc8;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: "Archivo-SemiBold", sans-serif;
}
.razon {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.razonContent {
  display: flex;
  flex-grow: 1;
  align-items: center;

  padding-right: 20px;
}
.razon label {
  width: 565px;
  white-space: nowrap;
}
.razon .selectContenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;

  flex: 1; /* Esto permite que el input se achique */
  height: 40px;
  border: none;
}
.razon .selectContenedor h2 {
  color: #e2dcc8;
}
.razon .selectContenedor select {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-family: "Archivo-SemiBold", sans-serif;
}

.llegue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  width: 100%;
}
.llegueContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  padding-right: 20px;
}
.llegue .selectContenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;

  flex: 1; /* Esto permite que el input se achique */
  height: 40px;
  border: none;
}
.llegue .selectContenedor h2 {
  color: #e2dcc8;
}
.llegue .selectContenedor select {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-family: "Archivo-SemiBold", sans-serif;
}
.resumen {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  height: fit-content;

  width: 100%;
}
.resumenContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  padding-right: 40px;
}
.resumen label {
  width: 22%;
  white-space: nowrap;
}
.resumen textarea {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 200px;
  resize: none;
  padding-left: 10px;
  font-size: 1rem;
  line-height: 3.1rem;
  font-size: 1.5rem;
  font-family: "Archivo-SemiBold", sans-serif;

  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 48px,
    /* espacio entre líneas */ rgba(0, 0, 0, 0.2) 22px,
    rgba(0, 0, 0, 0.2) 49px
  );
  background-size: 100% 100%;
}
.resumen textarea:focus {
  outline: none;
  box-shadow: none;
}

.datos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  width: 100%;
}
.datosContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;

  padding-right: 20px;
}
.datos label {
  width: 330px;
  white-space: nowrap;
}
.datos input {
  flex: 1; /* Esto permite que el input se achique */
  height: 40px;
  border: none;
  border-bottom: 2px solid #e2dcc8;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: "Archivo-SemiBold", sans-serif;
}
.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  width: 100%;
}
.emailContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;

  padding-right: 20px;
  gap: 10px;
}
.email input {
  background-color: transparent;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 2px solid #e2dcc8;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: "Archivo-SemiBold", sans-serif;
}
.saludo {
  display: flex;

  align-items: center;
  gap: 20px;
  width: 100%;
}
.saludo p {
  margin: 0;
  font-size: 2rem;
  font-family: "Archivo-Regular", sans-serif;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
@media screen and (max-width: 1500px) {
  .formContent {
    padding: 25px 40px;
  }
  .campo label{
    font-size: 1.5rem;
  }
  form .submit .contacto{
    width: 90%;
    
  }
  .saludo p{
    font-size: 1.5rem;
  }
  .buttonEnviar {
    width: 90%;
    font-size: 1.2rem;
  }
  .buttonEnviar button {
    width: 100%;
    font-size: 1.2rem;
  }

  .nombre input,
  .profesion input,
  .datos input,
  .email input,
  .resumenContent textarea,
  .razon .selectContenedor select,
  .llegue .selectContenedor select {
    font-size: 1.2rem;
  }

}
@media screen and (max-width: 1250px) {
  .formContainer {
    margin-top: 75px;
    
  }
  .formContent {
    padding: 25px 20px;
  }
  .campo label{
    font-size: 1rem;
    width: fit-content;
    padding-right: 10px;
  }
  form .submit .contacto{
    width: 90%;
    
  }
  .saludo p{
    font-size: 1.2rem;
  }
  .buttonEnviar {
    width: 90%;
    font-size: 1rem;
  }
  .buttonEnviar button {
    width: 100%;
    font-size: 1rem;
  }

  .nombre input,
  .profesion input,
  .datos input,
  .email input,
  .resumenContent textarea,
  .razon .selectContenedor select,
  .llegue .selectContenedor select {
    font-size: 1rem;
  
}
form .submit .contacto h3{
  font-size: 0.8rem;
    
  }
  .buttonEnviar button {
    width: 100%;
    font-size: 1.1rem;
  }
}
@media  screen and (max-width: 800px) {
  .formContainer {
    margin-top: 80px;
    
  }
  .close{
    width: 100%;
    height: 30px;
  }
  form{
    flex-direction: column;
    height: 87%;
  }
  form .submit{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: #e2dcc8 2px solid;
    gap: 10px;
  }
  .buttonEnviar {
    display: flex;
    width: 80%;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    
  }
  .buttonEnviar button{
    width: 80%;
    margin-top: 0px;
    font-size: 0.9rem;
    height: 30px;
    
  }
  form .submit .foto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form .submit .foto img{
    width: 80%;
    height: 100%;
  }
  .formContent {
    width: 100%;
    padding: 10px 20px;
    gap: 10px;
    box-sizing: border-box;
  }
  .campo {
    height: fit-content;
  }
  .saludo p{
    font-size: 1rem;
  }
  .resumenContent{
    padding-right: 0px;
  }
  .resumenContent textarea {
    height: 150px;
    font-size: 1rem;
  }
    .nombre input,
  .profesion input,
  .datos input,
  .email input,
  .resumenContent textarea,
  .razon .selectContenedor select,
  .llegue .selectContenedor select {
    font-size: 0.8rem;
  
}

}
@media  screen and (max-width: 500px) {
  .nombreContent{
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding-right: 0px;
    
  }
  .nombreContent input{
    width: 100%;
    font-size: 0.8rem;
  }
  .nombreContent label{
    
    font-size: 0.8rem;
  }
  .profesionContent{
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding-right: 0px;
  }   
  .profesionContent input{
    width: 100%;
    font-size: 0.6rem;
  }   
  .profesionContent label{
    
    font-size: 0.8rem;
  }  
  .razonContent{
    
    gap: 10px;
    align-items: center;
    padding-right: 0px;
  }
  .razonContent label{
    width: 100%;
    white-space: normal;
    font-size: 0.8rem;
    
  }
  .llegueContent{
    
    gap: 10px;
    align-items: center;
    padding-right: 0px;
  }
  .llegueContent label{
    font-size: 0.8rem;
  }
  .datosContent{
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding-right: 0px;
  }
  .datosContent input{
    width: 100%;
    font-size: 0.8rem;
  }
  .datosContent label{
    font-size: 0.8rem;
  }
  .emailContent{
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding-right: 0px;
  }
  .emailContent h2{
    display: none;
  }
  .resumenContent{
    flex-direction: column;
    
    align-items: flex-start;
  }
  .resumenContent label{
    
    font-size: 0.8rem;
  }
  .saludo p{
    margin-top: 10px;
    font-size: 0.8rem;
  }
  form .submit{
    flex-direction: column;
    align-items: center;
  }
  form .submit .foto{
    display: none;
  }
  form .submit .contacto{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  form .submit .contacto h3{
    margin-bottom: 5px;
  }
  .buttonEnviar{
    width: 80%;
    
  }
  .buttonEnviar button{
    width: 100%;
    
  }
  .close button strong{
    font-family: "Archivo-SemiBold", sans-serif;
  }

}

