.titlePortfolio {
  font-size: 24px;
  color: #fff;
  margin: 0px;
  padding-top: 150px;
  padding-bottom: 30px;
  font-family: "Archivo-SemiBold", sans-serif;
}
.titlePortfolio strong {
  color: #d6101d;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  background-color: #0f1416;
  overflow-x: hidden;
  padding-bottom: 20px;
}


.portfolio__container {
  position: relative;
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cassete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  pointer-events: none;
}
.cassete .image {
  width: 90%;
  height: 100%;
  object-fit: contain;
  
}
.cassetteRueda{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 210px;
  height: fit-content;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  rotate: -10deg;
  margin-left: 15px;
  
  padding-bottom: 60px;
}

.cassetteRueda .imageRueda { 
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.portfolio__container:hover .cassetteRueda .imageRueda {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.frente {
  z-index: 3;
  height: 100%;
  width: 650px;
}
.frenteImage {
  width: 100%;
  height: 100%;
  transform: scale(0.2);
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.2s ease;
}
.frenteImage.animate {
  transform: scale(1);
  opacity: 1;
}
.medio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 78%;
  height: 100%;
  
  pointer-events: none;
  display: flex;
  z-index: 2;
}

.medio .imageContainer {
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.8s ease;
  
}

.medio .imageContainer:first-child {
  transform: translateX(250px) scaleX(1);
  
}
.medio .imageContainer:last-child {
  transform: translateX(-250px) scaleX(1);
}

.medio.animate .imageContainer {
  position: relative;
  transform: translateX(0px) scaleX(1);
  
}
.left {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0%, 21%);
  pointer-events: auto;
  width: 86%;
  height: 70%;
  z-index: 2;
  
}
.right {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, 21%);
  pointer-events: auto;
  width: 86%;
  height: 70%;
  z-index: 2;
  
}
.left:hover{
  width: 100%;
}
.left:hover + .image {
  transform: translateX(-100px) scale(1.2);
  
}
.right:hover{
  width: 100%;
}
.right:hover + .image{
  transform: translateX(100px) scale(1.2);
  
}


.fondo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.fondo .imageContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 550px;
  height: 100%;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.8s ease;
}
.fondo .imageContainer:first-child {
  transform: translateX(450px) scaleX(1);
}

.fondo .imageContainer:last-child {
  transform: translateX(-450px) scaleX(1);
}

.fondo.animate .imageContainer {
  position: relative;
  transform: translateX(0px) scaleX(1);
}

.leftFondo {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0%, 50%);
  pointer-events: auto;
  width: 80%;
  height: 50%;
  z-index: 2;
  
}
.rightFondo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, 50%);
  pointer-events: auto;
  width: 80%;
  height: 50%;
  z-index: 2;
}
  

.leftFondo:hover {
  width: 100%;
  
}
.leftFondo:hover + .image{
  transform: translateX(-100px) scale(1.2);
  
}
.rightFondo:hover {
  width: 100%;
  
}
.rightFondo:hover + .image{
  transform: translateX(100px) scale(1.2);
  
}
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}
.portfolioButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: fit-content;
  margin-top: 30px;
  padding: 0px 20px;
  border-radius: 20px;
  font-size: 16px;
  border: none;
  color: #fff;
  background-color: #d6101d;
  font-family: "Archivo-SemiBold", sans-serif;
  cursor: pointer;
  text-decoration: none;
  transform: translateY(-200px);
  transition: transform 0.5s ease, opacity 0.8s ease;
  opacity: 0;
}

.portfolioButton:hover {
    box-shadow: 0px 3px 10px #000000;
    transition: all 0.3s ease;
  }


.portfolioButton.animate {
  transform: translateY(0px);
  opacity: 1;
}

@media screen and (max-width: 1250px) {
  .titlePortfolio {
    padding-top: 80px;
  }
  
}
@media screen and (max-width: 500px) {
  .titlePortfolio {
    padding-top: 40px;
    text-align: center;
    font-size: 1rem;
  }
  .portfolioButton {
  height: 25px;
  width: fit-content;
  margin-top: 30px;
  padding: 0px 10px;
  font-size: 10px;

}
}
