---
import { IoLogoWhatsapp } from "react-icons/io5";
import fondoCrear from "../../assets/ruedaContorno.png";
import tape from "../../assets/tapeFooter.png";
import {
  FaFacebookF,
  FaInstagram,
  FaLinkedinIn,
  FaWhatsapp,
} from "react-icons/fa";
---

<footer>
  <div class="crear">
    <div class="contenedorFondo">
      <img src={fondoCrear.src} alt="" class="fondoCrear" />
    </div>
    <h2>¿Listo para crear?</h2>

    <div class="contentCrear">
      <div class="formularioContenedor">
        <h4>¿Cómo empezamos <br />una colaboración?</h4>
        <button class="formularioButton">FORMULARIO</button>
      </div>
      <p>
        <strong>Rellena el formulario</strong> de comentarios <br /> o <strong
          >escribinos por Whatsapp.</strong
        >
        <br />
        Contanos brevemente sobre vos y tu <br />solicitud. Entendemos que a
        veces <br />es difícil expresarlo con palabras, así <br />que si quieres
        charlar, no dudes en decirlo. Quizás una conversación te inspire para
        colaborar. <br /><br />
        Programaremos una llamada o hablaremos de los detalles por <br
        />escrito, lo que te resulte <br />más cómodo.
      </p>
    </div>
  </div>
  <div class="idea">
    <p>
      Contanos tu idea, tu <strong>marca</strong> o tu <strong>ptoyecto</strong
      >. <br />En <strong>TAPE</strong>, lo transformamos en algo que <br
      />funcione.
    </p>
  </div>
  <div class="contacto">
    <a href="/" class="icon"><IoLogoWhatsapp /></a>
    <a href="/" class="texto">CONTACTANOS</a>
  </div>
  <div class="blackSection">
    <div class="explore">
      <h3>Seguí explorando...</h3>
    </div>
    <div class="blackSectionText">
      <ul>
        <li>Servicios</li>
        <li>Nuestros trabajos</li>
        <li>Nosotros</li>
        <li>Valores</li>
        <li>Formulario</li>
        <li>Preguntas frecuentes</li>
      </ul>
    </div>
  </div>
  <div class="socialsContainer">
    <div class="socials">
      <a href="https://www.instagram.com/tape.agencia/" target="_blank"
        ><FaInstagram /></a
      >
      <a href="https://www.linkedin.com/company/tape-agencia/" target="_blank">
        <FaFacebookF />
      </a>
      <a href="https://www.facebook.com/tape.agencia" target="_blank"
        ><FaLinkedinIn /></a
      >
      <p>Seguinos</p>
    </div>
    <div class="copy">
      <div class="contactar">
        <p>Contactar</p>
        <a href="/"><FaWhatsapp /></a>
      </div>

      <div class="copyText">
        <p>Copyright © 2025</p>
        <div class="copyTextImg">
          <img src={tape.src} alt="" class="imgTape" />
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    background-color: #fff9ea;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .crear {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh;
    width: 100%;
    padding-top: 90px;
  }
  .contenedorFondo {
    position: absolute;
    width: 1100px;
    height: 1100px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fondoCrear {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .crear h2 {
    font-family: "Archivo-Black", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    margin: 0;
    padding: 25px 0px;
    width: 550px;
  }

  .contentCrear {
    width: 550px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
  }
  .formularioContenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 300px;
    gap: 20px;
  }
  .formularioContenedor h4 {
    font-family: "Archivo-SemiBold", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
    color: #d6101d;
  }
  .formularioButton {
    height: 40px;
    width: 100%;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    color: #fff9ea;
    background-color: #d6101d;
    font-family: "Archivo-SemiBold", sans-serif;
    cursor: pointer;
  }
  .contentCrear p {
    width: 100%;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #000;
    margin: 0px;
  }
  .contentCrear p strong {
    font-family: "Archivo-SemiBold", sans-serif;
  }

  .idea {
    text-align: center;
    font-size: 1.7rem;
    font-family: "Archivo-Bold", sans-serif;
  }
  .idea strong {
    color: #d6101d;
  }
  .contacto {
    display: flex;
    margin-bottom: 50px;
    margin-top: 10px;
  }
  .contacto a {
    background-color: #13171a;
    border-radius: 20px;
    color: #fff9ea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacto .icon {
    background-color: #13171a;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 35px;
  }
  .contacto .texto {
    font-family: "Archivo-SemiBold", sans-serif;
    font-size: 1.2rem;
    padding: 0px 50px;
    color: #fff9ea;
    text-decoration: none;
    border-radius: 25px;
  }
  .blackSection {
    margin-top: 70px;

    padding: 80px 0px;
    background-color: #13171a;
    width: 100%;
    height: 400px;
    display: flex;
  }
  .explore {
    width: 30%;
    height: 200px;
  }
  .explore h3 {
    padding-left: 70px;
    color: #fff9ea;
    margin: 0px;
    font-family: "Archivo-Regular", sans-serif;
  }
  .blackSectionText ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    margin: 0px;
  }
  .blackSectionText ul li {
    font-size: 2.8rem;
    list-style: none;
    font-family: "Archivo-Regular", sans-serif;

    color: #fff9ea;
  }
  .socialsContainer {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 200px;
    background-color: #13171a;
    padding-top: 80px;
  }
  .socialsContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: #fff9ea;
  }
  .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    height: 100px;

    padding-left: 70px;
    gap: 10px;
    box-sizing: border-box;
  }
  .socials p {
    font-family: "Archivo-SemiBold", sans-serif;
    font-size: 1.2rem;
    color: #fff9ea;
    margin: 0px;
    margin-left: 70px;
    margin-top: 10px;
  }
  .socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff9ea;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    color: #000000;
    margin: 0px;
    font-size: 1.4rem;
  }
  .copy {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #13171a;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .contactar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100px;

    padding-top: 10px;
    gap: 20px;
    box-sizing: border-box;
  }
  .contactar a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff9ea;
    width: 45px;
    height: 45px;
    background-color: #fff9ea00;
    border-radius: 100%;
    border: 2px solid #fff9ea;
    font-size: 2rem;
  }
  .contactar p {
    font-family: "Archivo-SemiBold", sans-serif;
    font-size: 1.2rem;
    color: #fff9ea;
    margin: 0px;
  }
  .copyText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100px;
    color: #fff9ea;
    font-family: "Archivo-Regular", sans-serif;
    font-size: 1.2rem;
  }
  .copyTextImg {
    padding-left: 50px;
    height: 70%;
    width: 50%;
  }
  .imgTape {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media screen and (max-width: 1250px) {
    .crear {
      padding-top: 50px;
      margin-bottom: 90px;
      height: fit-content;
    }
    .contenedorFondo {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
    }
    .fondoCrear {
      padding-top: 50px;
      padding-right: 40px;
      width: 30%;
      height: 40%;
    }
    .crear h2 {
      width: 90%;
      font-size: 2.5rem;
    }
    .contentCrear {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 90%;
    }
    .contentCrear p {
      width: 65%;
    }
    .contentCrear p br {
      display: none;
    }
    .formularioContenedor {
    }
    .idea {
      font-size: 1.1rem;
    }

    .contacto .icon {
      width: 30px;
      height: 30px;
      font-size: 20px;
    }
    .contacto .texto {
      font-family: "Archivo-SemiBold", sans-serif;
      font-size: 0.9rem;
      padding: 0px 30px;
      color: #fff9ea;
      text-decoration: none;
      border-radius: 25px;
    }
    .blackSection {
      flex-direction: column;
      height: fit-content;
      padding: 50px 0px;
    }
    .explore {
      width: 100%;
      text-align: center;
      height: fit-content;
      padding-bottom: 30px;
    }
    .explore h3 {
      padding: 0px;
    }
    .blackSectionText ul {
      box-sizing: border-box;
    }
    .blackSectionText ul li {
      font-size: 1.5rem;
    }
    .socialsContainer {
      flex-direction: column;
      align-items: center;
      height: fit-content;
    }
    .socials {
      width: 100%;
      justify-content: flex-start;

      padding-left: 40px;
      gap: 20px;
    }
    .socials p {
      padding-left: 0px;
      margin: 0px;
    }
    .copy {
      padding-left: 40px;
      padding-bottom: 40px;
    }

    .copyText {
      flex-direction: column-reverse;
      align-items: center;
      width: fit-content;
      padding-right: 20px;
    }
    .copyText p {
      font-size: 0.7rem;
    }
    .copyTextImg {
      padding: 0px;
    }
  }
  @media screen and (max-width: 780px) {
    .crear {
      padding-top: 30px;
      margin-bottom: 50px;
    }
    .contenedorFondo {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .fondoCrear {
      display: none;
    }
    .crear h2 {
      width: 90%;
      font-size: 2rem;
    }
    .contentCrear {
      width: 90%;
    }
    .contentCrear p {
      width: 100%;
    }
    .formularioContenedor {
      width: 100%;
    }
    .idea {
      font-size: 1.1rem;
    }

    .contacto .icon {
      width: 30px;
      height: 30px;
      font-size: 20px;
    }
    .contacto .texto {
      font-family: "Archivo-SemiBold", sans-serif;
      font-size: 0.9rem;
      padding: 0px 30px;
      color: #fff9ea;
      text-decoration: none;
      border-radius: 25px;
    }
    .blackSection {
      flex-direction: column;
      height: fit-content;
      padding: 50px 0px;
    }
    .explore {
      width: 100%;
      text-align: center;
      height: fit-content;
      padding-bottom: 30px;
    }
    .explore h3 {
      padding: 0px;
    }
  }
  @media screen and (max-width: 500px) {
    .blackSectionText ul {
    padding-left: 15px;
  }
  .blackSection{
    padding: 30px 0px;
  }
  .explore{
    text-align:left;
    
  }
  .explore h3 {
    font-size: 0.8rem;
    padding-left: 15px;
    
  }
  .copy{
    padding-left: 15px;
  }
  .copyText {
    
    padding-right: 15px;
  }
  .socialsContainer {
    padding: 0px 0px;
  }
  .socials{
    flex-direction: row-reverse;
    padding-left: 15px;
    justify-content: flex-end;
  }
  .contactar a{
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
}
</style>
