---
import { Image } from "astro:assets";
import logo from "../../assets/logo.png";
import {
  FaInstagram,
  FaFacebookF,
  FaLinkedinIn,
  FaWhatsapp,
} from "react-icons/fa";
import { GiHamburgerMenu } from "react-icons/gi";
import { IoMdClose } from "react-icons/io";
---

<div class="navbarContainer">
  <nav>
    <div class="logoContainer">
      <a href="/">
        <Image src={logo} alt="Logo" width={1000} class="logo" />
      </a>
    </div>
    <div class="hamburguesa">
        <GiHamburgerMenu />
        
      </div>
      <div class="close-icon">
        <IoMdClose />
      </div>
    <div class="linksContainer">
      
      <ul class="nav-links">
        <li><a href="/#QuienesSomos"
          onclick="window.dispatchEvent(new Event('cerrarFormulario'))"
          >QUIÉNES SOMOS</a></li>
        <li><a href="/#Servicios"
          onclick="window.dispatchEvent(new Event('cerrarFormulario'))"
          >SERVICIOS</a></li>
        <li><a href="/portfolio/Portfolio"
          onclick="window.dispatchEvent(new Event('cerrarFormulario'))"
          >PORTFOLIO</a></li>
        <li><a href="/FAQ/Faq"
          onclick="window.dispatchEvent(new Event('cerrarFormulario'))"
          >FAQ</a></li>
        <li>
          <a
            href="#"
            onclick="event.preventDefault(); window.dispatchEvent(new Event('abrirFormulario'))"
            >CONTACTO</a
          >
        </li>
      </ul>
      <ul class="social-links">
        <li>
          <a href="https://www.instagram.com/tapeproducciones/" target="_blank"
            ><FaInstagram /></a
          >
        </li>

        <li>
          <a
            href="https://www.linkedin.com/company/tapeproducciones/?originalSubdomain=ar"
            target="_blank"><FaLinkedinIn /></a
          >
        </li>
        <li>
          <a
            href="https://wa.me/5491139169654"
            target="_blank"
            rel="noopener noreferrer"><FaWhatsapp /></a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>

<script>
  const hamburguesa = document.querySelector(".hamburguesa");
  const linksContainer = document.querySelector(".linksContainer");
  const navLinks = document.querySelector(".nav-links");
  const links = document.querySelectorAll(".nav-links li a");
  const closeIcon = document.querySelector(".close-icon");

  

  hamburguesa.addEventListener("click", () => {
    linksContainer.classList.toggle("active");
    hamburguesa.classList.toggle("active");
    navLinks.classList.toggle("active");
    closeIcon.classList.toggle("active");

    links.forEach(link => {
      link.classList.toggle("active");
    });

  });
  closeIcon.addEventListener("click", () => {
    linksContainer.classList.remove("active");
    hamburguesa.classList.remove("active");
    navLinks.classList.remove("active");
    closeIcon.classList.remove("active");

    links.forEach(link => {
      link.classList.remove("active");
    });
  });
  
  
</script>

<style>
  .hamburguesa {
    display: none;
  }
  .close-icon {
    display: none;
  }
  .navbarContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #121619;
    color: white;
    padding: 0px 70px;
    box-sizing: border-box;
    border-bottom: 15px solid #d6101d;
  }

  nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100%;
  }

  .logo {
    width: 100%;
    height: auto;
  }
  .linksContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  .nav-links li {
    transition: transform 0.2s ease;
  }

  .nav-links li a {
    color: #e2dbca;
    text-decoration: none;
    font-family: "Archivo-SemiBold", sans-serif;
    font-size: 0.9rem;
    
  }
  .nav-links li:hover {
    transform: scale(1.1);
    color: #fff;
    
  }
  .social-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  .social-links li{
    transition: transform 0.2s ease;
  }

  .social-links li:hover {
    transform: scale(1.2);
    color: #fff;
  }

  .social-links li a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 1.2rem;
    height: 30px;
    width: 30px;
    background-color: #e2dbca;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
  }
  @media screen and (max-width: 1250px) {
    .navbarContainer{
      padding: 0px 20px;
    }
    .linksContainer{
      gap: 1rem;
    }
    ul{
      margin: 0px;
    }
    .nav-links{
      align-items: center;
    }
    .social-links{
      gap: 5px;
      padding: 0px;
    }
    .social-links li a {
      font-size: 1rem;
      height: 25px;
      width: 25px;
    }
    .nav-links li a{
      font-size: 0.7rem;
    }
  }
  @media screen and (max-width: 800px) {
    .hamburguesa {
    display: flex;
    z-index: 1001;
    padding-right: 10px;
    color: #e2dbca;
    font-size: 1.4rem;
  }
    .hamburguesa.active {
      display: none;
    }
  
  .close-icon {
    display: none;
    
  }
  .close-icon.active {
    display: flex;
    color: #e2dbca;
    font-size: 1.5rem;
    z-index: 1001;
    padding-right: 10px;
  }
  .navbarContainer{
    padding-right: 0px;
  }
  .linksContainer{
    display: none;
  }
  
  .linksContainer.active{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #121619;
    padding: 25px 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 200px;
    gap: 30px;
  }
  .nav-links.active{
    width: fit-content;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 0px;
  }
  .nav-links li a.active{
    font-size: 1rem;
  }
  }
</style>
