.navContainer {
  padding: 20px 0px;
}
.navPortfolio {
  display: flex;
  justify-content: center;
}
.navPortfolio ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 1200px;
}
.navPortfolio ul li {
  background-color: #ffffff;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.navPortfolio ul .active {
  background-color: #d6101d;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.navPortfolio ul .active button {
  color: white;
}
.navPortfolio ul li button {
  list-style: none;
  text-decoration: none;
  font-family: "Archivo-SemiBold", sans-serif;
  font-size: 1.2rem;
  border: none;
  background: none;
  cursor: pointer;
}
.contenidoPortfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px 40px;
}
.proyecto {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}
.proyecto:hover {
  transform: translateY(-10px);

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.082);
}
.proyectoTitulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
}
.proyecto h2 {
  margin: 0px;
  padding-left: 10px;
  font-family: "Archivo-Regular", sans-serif;
  font-size: 1rem;
  color: #000000;
}
.proyectoPortada {
  width: 100%;
  height: 90%;
  object-fit: cover;
  background-color: #640000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sinPortada {
  width: 100%;
  height: 90%;
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proyectoTitulo a {
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-decoration: none;
}
.descargar {
  display: flex;
}
.descargar .descargarLink {
  width: fit-content;
  padding: 0px 10px;
  border-radius: 20px;
  font-family: "Archivo-SemiBold", sans-serif;
  font-size: 0.8rem;
}
.descargar a {
  background-color: red;
}
