---
import Rueda2 from "./Rueda2";
import tommy from "../assets/tommy.png";
import mateo from "../assets/mateo.png";
import chiara from "../assets/chiara.png";
import nano from "../assets/nano.png";
import agus from "../assets/agus.png";
import mili from "../assets/mili.png";
import loli from "../assets/loli.png";
import lulu from "../assets/lulu.png";

const members = [
  {
    role: "No quiere que le digan jefe, pero... Diseña, filma, edita, resuelve y piensa en el próximo proyecto mientras vos estás terminando el anterior.",
    img: tommy,
  },
  {
    role: "Nuestro diseñador desde antes que TAPE tenga nombre. Tranquilo por fuera, una bestia por dentro. Es la voz baja que más impacto deja.",
    img: mateo,
  },
  {
    role: "No sabemos bien como lo hace, pero siempre la rompe. No hace ruido, no pregunta, solo aparece con algo que te deja sin palabras. Y sí, es de TAPE.",
    img: chiara,
  },
  {
    role: "El que resuelve antes de que termines la frase. Creativo nato, genio de la edición y dueño del “tranqui”, ya lo tengo.",
    img: nano,
  },
  {
    role: "/code=tape001 El mago del código. Pone Olga de fondo, se mete en la Matrix y no sale hasta que el sitio funcione perfecto.",
    img: agus,
  },
  {
    role: "Nadie la vio, pero todos la usan. Soluciona todo sin levantar la voz.",
    img: mili,
  },
  {
    role: "La que ya entendió todo. Sabe qué postear, cuándo y cómo. Piensa rápido, edita mejor y publica sin pestañear. No es magia, es Loli!",
    img: loli,
  },
  {
    role: "Recién llegada, pero en modo TAPE. Hace copies, ideas y magia con su compu. Si ves algo nuevo en las redes, probablemente sea culpa de ella.",
    img: lulu,
  },
];
---

<main class="quienesSomos" id="QuienesSomos">
  <div class="quienesSomosHeader">
    <div class="servicio-svg">
      <svg viewBox="0 -170 700 340" width="100%" height="auto">
        <path
          id="curve2"
          d="M 300,200 m -400,0 a 290,60 0 1,1 900,0 a 250,80 0 1,1 -900,0"
          fill="transparent"></path>
        <text font-size="24">
          <textPath
            class="text_path"
            href="#curve2"
            startOffset="25%"
            text-anchor="middle"
          >
            ¿QUIÉNES SOMOS?
          </textPath>
        </text>
      </svg>
    </div>
  </div>
  <h2>
    No somos bots,<br />somos <strong style={{ color: "#d6101d" }}
      >personas</strong
    >.
  </h2>
  <div class="teamContainer">
    {
      members.map((member) => (
        <div class="teamMember">
          <div class="teamMemberContainer">
            <img src={member.img.src} alt="" class="teamMemberImg" />
          </div>
          <p>{member.role}</p>
        </div>
      ))
    }
  </div>
</main>

<style>
  .quienesSomosHeader {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../assets/curveQuienes.png");
    background-size: cover;
    background-position: center;
  }
  .servicio-svg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0);
  }

  .text_path {
    font-family: "AntiqueOlive-Nord", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    fill: #000000;
  }
  #curve2 {
    fill: transparent;
  }
  .quienesSomos {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff9ea;
  }
  .quienesSomos h2 {
    font-family: "Archivo-SemiBold", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
  }
  .teamContainer {
    margin-top: 70px;
    height: fit-content;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    z-index: 1;
  }
  .teamMember {
    height: fit-content;
    width: 300px;
  }
  @keyframes showText {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .teamMember p {
    display: flex;

    justify-content: center;
    align-items: center;
    font-family: "Archivo-Regular", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    margin: 0px;
    height: 80px;
    opacity: 0;
    transform: translateY(20px);
  }
  .teamMemberContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    width: 100%;
  }
  .teamMemberImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }
  .teamMemberImg:hover {
    transform: scale(1.05);
  }
  .teamMember:hover p {
    animation: showText 0.4s ease-in-out forwards;
  }
  @media screen and (max-width: 1250px) {
    .teamContainer {
      width: 95%;
    }
    .teamMember {
      width: 200px;
    }
    .teamMemberContainer {
      height: 200px;
    }
    .text_path {
      font-size: 2.8rem;
    }
  }
  @media screen and (max-width: 800px) {
    .quienesSomosHeader {
      height: 250px;
    }
    
    
  }
 @media screen and (max-width: 500px) {
  .teamMemberImg:hover {
    transform: none !important;
  }

  .teamMember p {
    animation: none !important;
    opacity: 1;
    transform: translateY(-5px);
  }
}
</style>
